[Unit]
Description=Fin Login Manager
After=graphical.target
DefaultDependencies=no

[Service]
ExecStart=fin
Restart=always

[Install]
Alias=display-manager.service
WantedBy=graphical.target
